<%- include("../header") %>
<div class="container">
	<h1 style="text-align :center">
		Create a new Comment to <%=campground._id.name%>
	</h1>
	
	<div class="row">
		<div style="width: 30% ; margin : 25px auto;">
			<form action="/campgrounds/<%=campground._id%>/comments" method="POST">
				<div class="form-group">
					<input class="form-control" type ="text" placeholder="Comment" name="text">
				</div>
				<div class="form-group" style="margin : 15px 0 15px 0 ">	
					<button class="btn btn-lg btn-primary btn-block">Submit</button>
				</div>
			</form>	
			<a href="/campgrounds">Go Back</a>	
		</div>	
	</div>	
</div>


<%- include("../footer") %>